/*

File Name: style.less
Date: 02/16/20
Programmer: Gray Mros

*/
/* MOBILE STYLESHEET */
/* Parametric mixin for headings */
/* End parametric mixin for headings */
/* 
Google Fonts 
font-family: 'Mirza', cursive;
font-family: 'Open Sans', sans-serif;

Color Palette
https://coolors.co/ff740a-471e00-e0d2be-3c5400-2b2926
*/
/*

******* Images *******
Recommended file type: 
PNG for images with lots of text.
JPG for photographs of food.

Minimum image dimensions:
For images that will be stretching across the whole screen, a width of 1600px will be good, even 2000px.
Height should be at least 500px.

**** Which images are which? ****


******** Header image at top of page ********
    header {
            background-image: linear-gradient(to right bottom, rgba(185, 185, 185, 0.1), rgba(43, 43, 43, 0.1)), url(../images/burrito-2.jpg);
    }


******** Introduction paragraph image ********
    main {
        aside {
               background-image: linear-gradient(to right bottom, rgba(26, 22, 21, 0.85), rgba(44, 44, 44, 0.85)), url(../images/spices.jpg);
        }
    }


******** Ingredients list background image ********

    section {
            background-image: linear-gradient(to right bottom, rgba(252, 224, 193, 0.7), rgba(252, 224, 193, 0.7)), url(../images/cutting-board.jpg);
    }



******** Images at the top of each of the 4 sections ********
    section {
        &:first-of-type {
            div {
                background-image: linear-gradient(to right bottom, rgba(26, 22, 21, 0.3), rgba(44, 44, 44, 0.3)), url(../images/tortillas.jpg);
            }
        }
    }

    AND

    section {
        &:nth-of-type(2) {
            div {
                background-image: linear-gradient(to right bottom, rgba(26, 22, 21, 0.3), rgba(44, 44, 44, 0.3)), url(../images/grill-meat-fire.jpg);
            }
        }
    }

    AND

    section {
        &:nth-of-type(3) {
            div {
                background-image: linear-gradient(to right bottom, rgba(26, 22, 21, 0.3), rgba(44, 44, 44, 0.3)), url(../images/rice-plate.jpg);
            }
        }
    }

    AND

    section {
        &:nth-of-type(4) {
            div {
                background-image: linear-gradient(to right bottom, rgba(26, 22, 21, 0.3), rgba(44, 44, 44, 0.3)), url(../images/bigveges.jpg);
            }
        }
    }

********  To delete one of these images *********
Simply select the entire line of style, beginning with background-image, and ending at the semi-colon ';' and delete it.
 **here** background-image: linear-gradient(to right bottom, rgba(26, 22, 21, 0.3), rgba(44, 44, 44, 0.3)), url(../images/bigveges.jpg); **to here**



******** To change an image *********
First place your desired image into the images folder. Then go to to the tag whose image you wish to change.
At the end of the the style property 'background-image,' within the url(), enter the name of your image file following 'images/'.
        For example, to change the image from rice-plate.jpg to tortillas.jpg, the code would change like so:
            url(../images/rice-plate.jpg); ----------> url(../images/tortillas.jpg);



******** To change the background-image color gradient ********
You may have noticed all or some of these background images look as though they're lightened or darkened with color. This is because of
the first value on the background-image propety, 'linear-gradient(to right bottom, rgba(),rgba()).' 

Linear-gradient takes several colors and transitions between one color to the next across the screen. 
The direction that the colors flow depends on the first values given, in the example above,
the transition happens in the direction of the bottom right side of the background. 
Other direction values can be found on https://www.w3schools.com/howto/. 
The next values determine the colors that will be joined. RGBA stands for Red, Green, Blue, Alpha. The alpha determines
the opacity of the color. There are many color picking tools available online, here's one site https://www.hexcolortool.com/.
You can copy your RGBA values and paste them into the code here to change the color.



******** To remove background-image color gradient ********
You can also delete the linear-gradient value entirely, removing everything except the image url().
For more ways to customize the background-image property, visit this link: https://www.w3schools.com/cssref/pr_background-image.asp 
------------------------------

*/
body {
  font-family: 'Open Sans', sans-serif;
}
header {
  background-image: linear-gradient(to right bottom, rgba(185, 185, 185, 0.1), rgba(43, 43, 43, 0.1)), url(../images/burrito-2.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  height: 100vh;
  background-position: center;
}
header div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(43, 41, 38, 0.7);
}
header div h1 {
  color: #FF740A;
  font-size: 17vw;
  font-weight: bolder;
  width: 100%;
  font-family: 'Mirza', cursive;
}
header div p {
  /* Smaller text under page title */
  display: block;
  color: #E0D2BE;
  font-size: 5vw;
}
header div p span {
  display: block;
  padding-bottom: 0.2rem;
}
header div p span:last-of-type {
  display: block;
}
main aside {
  padding: 1rem 0;
  background-image: linear-gradient(to right bottom, rgba(26, 22, 21, 0.85), rgba(44, 44, 44, 0.85)), url(../images/spices.jpg);
  background-size: cover;
  text-align: left;
  background-position: center;
  height: 120vh;
  position: relative;
  border-top: 0.3rem solid #000000;
}
main aside p {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 98%;
  letter-spacing: 0.03rem;
  font-size: 1.3rem;
  line-height: 3rem;
  font-weight: bold;
  color: #E0D2BE;
}
main aside p:nth-of-type(2) {
  /* This <p> is only displayed on larger devices*/
  display: none;
}
main aside p span:first-of-type {
  /*Styling specific words within the paragraph*/
  font-family: 'Mirza', cursive;
  font-size: 2.6rem;
  padding-bottom: 3rem;
  padding-left: 0.5rem;
  line-height: 2.5rem;
  display: inline-block;
}
main aside p span:first-of-type span {
  color: #FF740A;
  font-size: 3rem;
  font-weight: bolder;
  width: 100%;
  line-height: 1.7rem;
  padding-bottom: 0;
  padding-left: 0;
}
main aside p span:nth-of-type(2) {
  display: inline-block;
  padding-bottom: 3rem;
  padding-left: 0.5rem;
  width: 90%;
  text-align: left;
}
main aside p span:nth-of-type(3) {
  display: inline-block;
  padding-left: 0.5rem;
  width: 90%;
  text-align: left;
}
section {
  text-align: center;
  background-image: linear-gradient(to right bottom, rgba(252, 224, 193, 0.7), rgba(252, 224, 193, 0.7)), url(../images/cutting-board.jpg);
  padding-bottom: 1rem;
  background-size: cover;
  background-position: center;
  /*This contains the image of each menu section*/
}
section h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 4rem;
  letter-spacing: 0.05rem;
  color: #E0D2BE;
  font-weight: 100;
}
section h3 {
  padding-top: 2rem;
  padding-bottom: 3rem;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  color: #3C5400;
  font-family: 'Mirza', cursive;
  font-weight: 100;
  text-align: center;
  /*Style of text displayed below the main H3 text*/
}
section h3 span {
  display: inline-block;
  font-size: 1rem;
  line-height: 0.2rem;
  padding-left: 0;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 600;
  width: 100%;
}
section div {
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 60vh;
  position: relative;
  border-top: 0.3rem solid #000000;
}
section p {
  font-size: 0.7rem;
}
section ul {
  padding: 2rem 0;
}
section li {
  /* Style of ingredient items */
  color: #471E00;
  padding-left: 1rem;
  line-height: 2rem;
  font-size: 1.3rem;
  letter-spacing: 0.09rem;
  font-weight: 300;
  text-align: left;
}
section li:last-of-type {
  padding-bottom: 0;
}
section li:not(last-of-type) {
  padding-bottom: 4rem;
}
section span {
  /*Used to style the ' | 's before each list item in the under 560px width view*/
  color: #471E00;
  padding-left: 1rem;
  line-height: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.07rem;
  font-weight: 700;
  text-align: left;
}
li span {
  /*Style for the list items that have added information in span tags*/
}
li span:nth-of-type(2) {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  color: #000000;
  border-left: 2.4rem solid transparent;
  /* Using a transparent border instead of padding to overcome a bug found in my phone's Safari browser*/
}
section:first-of-type div {
  background-image: linear-gradient(to right bottom, rgba(26, 22, 21, 0.3), rgba(44, 44, 44, 0.3)), url(../images/tortillas.jpg);
}
section:first-of-type li:last-of-type {
  padding-bottom: 2rem;
}
section:first-of-type li:last-of-type span {
  /*Make the span in the first section display inline*/
}
section:first-of-type li:last-of-type span:nth-of-type(2) {
  display: inline;
  padding-left: 0;
  border-left: none;
}
section:nth-of-type(2) div {
  background-image: linear-gradient(to right bottom, rgba(26, 22, 21, 0.1), rgba(44, 44, 44, 0.2)), url(../images/grill-meat-fire.jpg);
}
section:nth-of-type(3) div {
  background-image: linear-gradient(to right bottom, rgba(26, 22, 21, 0.2), rgba(44, 44, 44, 0.1)), url(../images/rice-plate.jpg);
}
section:nth-of-type(4) div {
  background-image: linear-gradient(to right bottom, rgba(26, 22, 21, 0.2), rgba(44, 44, 44, 0.1)), url(../images/bigveges.jpg);
}
footer {
  text-align: center;
  background-color: #471E00;
  background-size: cover;
  background-position: center;
}
footer div p {
  /*Style for the Hours and Phone number*/
  padding: 2rem 0;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 100;
  font-family: 'Mirza', cursive;
  color: #E0D2BE;
}
footer div p span {
  display: block;
}
footer div p a {
  font-family: 'Open Sans', sans-serif;
  color: #FF740A;
}
footer p {
  /*Style for copyright*/
  color: #E0D2BE;
  font-size: 0.75rem;
  padding-bottom: 0.3rem;
}
footer aside {
  padding: 1rem 0.8rem;
  /*Style for the Google Maps API container*/
}
footer aside button {
  /*Style for address*/
  background-color: transparent;
  border: none;
  width: 100%;
  padding-top: 0.4rem;
}
footer aside button a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #FF740A;
  font-style: italic;
  font-family: 'Mirza', cursive;
}
footer aside button a:active {
  color: #ffffff;
}
footer aside div {
  width: 100%;
  height: 50vh;
}
footer {
  /*Style for social media section*/
}
footer aside:nth-of-type(2) {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
footer aside:nth-of-type(2) h4 {
  color: #E0D2BE;
  font-size: 2rem;
}
footer aside:nth-of-type(2) ul {
  padding-top: 1rem;
  display: block;
}
footer aside:nth-of-type(2) ul li {
  display: inline-block;
}
footer aside:nth-of-type(2) ul li a {
  padding: 0.8rem;
}
footer aside:nth-of-type(2) ul li a i {
  color: #FF740A;
  font-size: 2.4rem;
}
/* Devices over 560px width                                                                                      
*
*
*
*
*
*
*
*
*/
@media only screen and (min-width: 560px) {
  header div:first-of-type h1 {
    font-size: 13vw;
  }
  header div:first-of-type p {
    font-size: 3.8vw;
  }
  main aside {
    /*Intro section*/
    text-align: center;
    height: 100vh;
  }
  main aside p span:nth-of-type(2) {
    padding-left: 0;
    text-align: center;
  }
  main aside p span:nth-of-type(3) {
    padding-left: 0;
    text-align: center;
  }
  section h2 {
    font-size: 7rem;
  }
  section h3 {
    font-size: 3rem;
  }
  section div {
    height: 90vh;
  }
  section p {
    font-size: 0.7rem;
  }
  section ul {
    padding: 4rem 0 0 0;
    text-align: center;
  }
  section li {
    text-align: center;
    padding: 0;
    padding-bottom: 4rem;
    margin: 0;
    font-size: 1.3rem;
  }
  section li span {
    /*Hide the ' | 's before the list items in devices above 559px*/
    display: none;
  }
  section li span:nth-of-type(2) {
    display: block;
    font-size: 1rem;
    text-align: center;
    padding-left: 0;
    left: inherit;
  }
  section:nth-of-type(1) ul {
    /*Organizing all the ingredient unordered lists into grids*/
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 20% 1fr 1fr 20%;
  }
  section:nth-of-type(1) ul li:nth-of-type(1) {
    display: inline-block;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  section:nth-of-type(1) ul li:nth-of-type(2) {
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 4;
  }
  section:nth-of-type(1) ul li span:nth-of-type(2) {
    /*Prefer the first section's list item span display inline, as opposed to block*/
    display: inline;
  }
  section:nth-of-type(2) ul {
    display: grid;
    grid-template-columns: 15% 1fr 1fr 15%;
  }
  section:nth-of-type(2) ul li:nth-of-type(odd) {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  section:nth-of-type(2) ul li:nth-of-type(even) {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  section:nth-of-type(3) ul {
    display: grid;
    grid-template-columns: 20% 1fr 1fr 20%;
  }
  section:nth-of-type(3) ul li:nth-of-type(odd) {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  section:nth-of-type(3) ul li:nth-of-type(even) {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  section:nth-of-type(4) ul {
    display: grid;
    grid-template-columns: 5% 29% 29% 29% 5%;
    grid-column-gap: 1rem;
  }
  section:nth-of-type(4) ul li:nth-of-type(1),
  section:nth-of-type(4) ul li:nth-of-type(4),
  section:nth-of-type(4) ul li:nth-of-type(7),
  section:nth-of-type(4) ul li:nth-of-type(10) {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  section:nth-of-type(4) ul li:nth-of-type(2),
  section:nth-of-type(4) ul li:nth-of-type(5),
  section:nth-of-type(4) ul li:nth-of-type(8),
  section:nth-of-type(4) ul li:nth-of-type(11) {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  section:nth-of-type(4) ul li:nth-of-type(3),
  section:nth-of-type(4) ul li:nth-of-type(6),
  section:nth-of-type(4) ul li:nth-of-type(9) {
    grid-column-start: 4;
    grid-column-end: 5;
  }
  footer {
    text-align: center;
    background-color: #471E00;
    background-size: cover;
    background-position: center;
  }
  footer div p {
    font-size: 1.7rem;
  }
  footer p {
    font-size: 1rem;
  }
  footer aside {
    /*Google Maps API*/
  }
  footer aside div {
    width: 80vw;
    height: 60vh;
    margin: 0 auto;
  }
  footer aside {
    /*Social media*/
  }
  footer aside:nth-of-type(2) {
    padding-top: 3rem;
  }
  footer aside:nth-of-type(2) ul {
    padding-top: 2rem;
  }
  footer aside:nth-of-type(2) ul li a {
    padding: 2em;
  }
}
/* Devices over 975px width                                                                                      
*
*
*
*
*
*
*
*
*/
@media only screen and (min-width: 975px) {
  header div:first-of-type h1 {
    font-size: 10vw;
  }
  header div:first-of-type p {
    font-size: 2vw;
  }
  main aside {
    text-align: center;
    height: 90vh;
  }
  main aside p {
    width: 60%;
  }
  main aside p:nth-of-type(1) {
    /*Switching which paragraph gets displayed*/
    display: none;
  }
  main aside p:nth-of-type(2) {
    display: block;
    /* This paragraph gets displayed now */
  }
  main aside p:nth-of-type(2) span:first-of-type {
    font-size: 3rem;
    line-height: 3rem;
    padding-bottom: 1rem;
  }
  main aside p:nth-of-type(2) span:first-of-type span {
    font-size: 5rem;
  }
  main aside p:nth-of-type(2) span:nth-of-type(2) {
    text-align: center;
    font-size: 1.6rem;
    padding-bottom: 0;
  }
  section h3 {
    font-size: 3rem;
  }
  section div {
    height: 80vh;
  }
  section p {
    font-size: 1.6rem;
  }
  section ul {
    padding-bottom: 7rem;
    padding-top: 5rem;
  }
  section li {
    line-height: 3rem;
    padding: 0;
    font-size: 1.5rem;
  }
  section span:nth-of-type(1) {
    padding-top: 1rem;
    font-size: 1rem;
  }
  section span:nth-of-type(2) {
    font-size: 0.7rem;
  }
  section span:nth-of-type(3) {
    font-size: 0.8rem;
    text-align: center;
  }
  section:nth-of-type(1) ul {
    /*Adjusting the grid layouts of all sections*/
    display: grid;
    grid-template-columns: 25% 1fr 1fr 25%;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 2fr;
    padding-top: 0;
    padding-bottom: 0;
  }
  section:nth-of-type(1) ul li:nth-of-type(odd) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  section:nth-of-type(1) ul li:nth-of-type(even) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  section:nth-of-type(1) p {
    font-size: 1.3rem;
  }
  section:nth-of-type(2) ul {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    grid-row-gap: 4rem;
  }
  section:nth-of-type(2) ul li {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  section:nth-of-type(2) ul li:nth-of-type(1),
  section:nth-of-type(2) ul li:nth-of-type(4) {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  section:nth-of-type(2) ul li:nth-of-type(2),
  section:nth-of-type(2) ul li:nth-of-type(5) {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  section:nth-of-type(2) ul li:nth-of-type(3),
  section:nth-of-type(2) ul li:nth-of-type(6) {
    grid-column-start: 4;
    grid-column-end: 5;
  }
  section:nth-of-type(2) ul li span:nth-of-type(3) {
    text-align: center;
  }
  section:nth-of-type(2) ul li:nth-of-type(5) span:nth-of-type(3) {
    text-align: center;
  }
  section:nth-of-type(3) ul {
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 1fr 5%;
  }
  section:nth-of-type(3) ul li:nth-of-type(1) {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  section:nth-of-type(3) ul li:nth-of-type(2) {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  section:nth-of-type(3) ul li:nth-of-type(3) {
    grid-column-start: 4;
    grid-column-end: 5;
  }
  section:nth-of-type(3) ul li:nth-of-type(4) {
    grid-column-start: 5;
    grid-column-end: 6;
  }
  section:nth-of-type(4) ul {
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  section:nth-of-type(4) ul li:nth-of-type(1),
  section:nth-of-type(4) ul li:nth-of-type(2),
  section:nth-of-type(4) ul li:nth-of-type(3),
  section:nth-of-type(4) ul li:nth-of-type(4) {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  section:nth-of-type(4) ul li:nth-of-type(5),
  section:nth-of-type(4) ul li:nth-of-type(6) {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  section:nth-of-type(4) ul li:nth-of-type(7),
  section:nth-of-type(4) ul li:nth-of-type(8),
  section:nth-of-type(4) ul li:nth-of-type(9),
  section:nth-of-type(4) ul li:nth-of-type(10),
  section:nth-of-type(4) ul li:nth-of-type(11) {
    grid-column-start: 4;
    grid-column-end: 5;
  }
  section:nth-of-type(4) ul li:nth-of-type(1),
  section:nth-of-type(4) ul li:nth-of-type(5),
  section:nth-of-type(4) ul li:nth-of-type(7) {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  section:nth-of-type(4) ul li:nth-of-type(2),
  section:nth-of-type(4) ul li:nth-of-type(6),
  section:nth-of-type(4) ul li:nth-of-type(8) {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  section:nth-of-type(4) ul li:nth-of-type(3),
  section:nth-of-type(4) ul li:nth-of-type(9) {
    grid-row-start: 3;
    grid-row-end: 4;
  }
  section:nth-of-type(4) ul li:nth-of-type(4),
  section:nth-of-type(4) ul li:nth-of-type(10) {
    grid-row-start: 4;
    grid-row-end: 5;
  }
  section:nth-of-type(4) ul li:nth-of-type(11) {
    grid-row-start: 5;
    grid-row-end: 6;
  }
  footer {
    /*Formatting the footer into a grid layout*/
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
  }
  footer div {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  footer div p:nth-of-type(1) {
    display: block;
    font-size: 2.6rem;
    line-height: 3rem;
    padding-top: 2rem;
  }
  footer div p:nth-of-type(2) {
    display: block;
    font-size: 2rem;
    line-height: 3rem;
  }
  footer aside {
    grid-column-start: 3;
    grid-column-end: 4;
    /*Google Maps API*/
  }
  footer aside div {
    width: 90%;
    height: 50vh;
  }
  footer aside:nth-of-type(2) {
    /*Social media area*/
    border-top: 2px solid #E0D2BE;
    grid-column-start: 2;
    grid-column-end: 4;
  }
  footer p {
    /*Copyright*/
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 1rem;
  }
}
/* Devices over 1249px width                                                                                      
*
*
*
*
*
*
*
*
*/
@media only screen and (min-width: 1249px) {
  main aside {
    height: 80vh;
  }
  section ul li {
    font-size: 1.8rem;
  }
  /*Small tweaks to all of the section's grid layouts*/
  section:nth-of-type(1) ul {
    grid-template-columns: 30% 1fr 1fr 30%;
  }
  section:nth-of-type(2) ul {
    grid-template-columns: 20% 1fr 1fr 1fr 20%;
  }
  section:nth-of-type(3) ul {
    grid-template-columns: 15% 1fr 1fr 1fr 1fr 15%;
  }
  section:nth-of-type(4) ul {
    grid-template-columns: 15% 1fr 1fr 1fr 15%;
  }
}
